.AppHeader {
    width: 100%;
    background-image: url("../../assets/images/Layer_96.png");

    &__head {
        display: flex;
        align-items: center;
    }

    &__nav {
        width: 100%;
        font-size: 20px;
        color: rgb(255, 255, 255);
        display: flex;
        flex: 4 0;
        justify-content: space-around;
        align-items: center;

        a {
            color: #ffffff;
            cursor: pointer;
            line-height: 5;
            /*задаём высоту строки*/
            text-decoration: none;
            /*убираем подчёркивание*/
        }
        a:after {
            display: block;
            left: 0;
            /*изменить на right:0;, чтобы изменить направление подчёркивания */
            width: 0;
            /*задаём длинну линии до наведения курсора*/
            height: 4px;
            /*задаём ширину линии*/
            background-color: #11749e;
            /*задаём цвет линии*/
            content: "";
            transition: width 0.3s ease-out;
            /*задаём время анимации*/
        }

        a:hover:after, a:focus:after {
            width: 100%;
        }
    }

    &__logo {
        width: 67px;
        height: 67px;
        margin: 0 34px;
        background-color: #11749e;
        box-shadow: 12px 8px rgba(215, 215, 215, 0.75);
        color: #f5f5f5;
        font-size: 30.46px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__social {
        display: flex;
        flex: 1 0;
        justify-content: space-around;
        align-items: center;
        color: rgb(255, 255, 255);
    }
    hr {
        margin-top: -3px;
        height: 1px;
        border: none;
        color: #f5f5f5;
        background-color: #f5f5f5;
    }
}